.cube {
  width: 200px;
  height: 200px;
}

/* Each face */
.front, .back, .left, .right, .top, .bottom {
  width: 100%;
  height: 100%;
}

/* Lines */
.line-1,
.line-2,
.line-3 {
  height: 33.3%;
  border: 1px solid black;
  margin: 0; /* IMPORTANT (fix for 'auto' vs '0px' error) */
}